<div class="restaurant-container">
  <div class="flex my-5">
    <div>
      <%= link_to "Back", restaurant_menus_path(@restaurant), class: "p-3 border mr-3" %>
    </div>
    <div>
      <%= link_to "Edit", edit_restaurant_menu_path(@restaurant, @menu), class: "p-3 border mr-3"%>
    </div>
    <div>
      <%= link_to "Delete", restaurant_menu_path(@restaurant, @menu), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "p-3 border"%>
    </div>
  </div>

  <div class="flex items-center">
    <h1 class="text-3xl font-bold"><%= @menu.name %></h1>
    <div>
      <%= link_to "Activate Menu", activated_path(@restaurant, @menu), class: "p-3 border ml-6"%>
    </div>
  </div>

  <%= render "menu_items/index", menu_items: @menu.menu_items %>
</div>
