<div class="page-container pt-8">
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center gap-4">
      <%= link_to restaurant_path(@restaurant) do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <div class="flex gap-4">
      <h2 class="text-3xl font-bold"><%= @menu.name %></h2>
      <% if @menu.is_active %>
        <div class="bg-green-500 flex justify-center items-center text-sm text-white rounded-lg px-3 py-0.5">
          <p>Active</p>
        </div>
      <% end %>
    </div>
    </div>


    <div class="w-72 flex justify-end gap-3">
      <% if @menu.is_active == false %>
        <%= link_to activated_path(@restaurant, @menu), class:"bg-green-500 flex justify-center items-center text-sm text-white rounded-lg px-4 py-2" do %>
          <h2>Activate Menu</h2>
        <% end %>
      <% end %>
      <div>
        <%= link_to restaurant_menu_path(@restaurant, @menu), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"bg-red-400 flex justify-center items-center text-sm text-white rounded-lg px-4 py-2" do %>
          <h2>Delete Menu</h2>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "join_menus/item", menu: @menu %>

  <div class="flex justify-center mt-8">
    <%= link_to new_restaurant_menu_join_menu_path(@restaurant, @menu) do %>
      <div class="flex justify-center items-center w-10 h-10 rounded-full bg-black">
        <i class="fa-solid fa-plus text-white"></i>
      </div>
     <% end %>
  </div>
</div>
