<div class="customer-container">
  <div class="w-full h-screen flex justify-center items-center">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter your name" aria-label="Enter your name" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="bg-black text-white px-12 py-3" type="button">Go</button>
      </div>
    </div>
  </div>
</div>


    <%= simple_form_for [@restaurant, @table, @table_order, @table_customer] do |f| %>
    <%= f.input :name %>
    <%= f.input :is_captain, default: true %>
    <%= f.input :is_paid, default: false %>
    <%= f.submit %>
    <% end %>
