<div>
  <% @menu.menu_items.each do |item| %>
    <div class="flex justify-between border my-3 mr-3">
      <div class="my-1 ml-2 p-3">
        <h2><%= item.name %><span class="ml-3">$<%= item.price %></span></h2>
        <p><%= item.category %></p>
        <p><%= item.description %></p>
      </div>
      <div class="mt-1 mr-2">
        <%= link_to "X", join_menu_path(item.join_menus.where(menu_id: @menu.id).first.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
