<div class="my-5">
  <%= link_to "Back", restaurant_menu_path(@restaurant, @menu), class: "p-3 border" %>
</div>

<div class="flex justify-between">
  <div style="width: 50%;">
    <%= render "join_menus/form", restaurant: @restaurant, menu: @menu, join_menu: @join_menu %>
  </div>
  <div style="width: 50%;">
    <div class="flex">
      <div class="text-2xl my-3 mr-5">
        <%= @menu.name %>
      </div>
      <div class="mt-5">
        <%= link_to "Finish", restaurant_menu_path(@restaurant, @menu), class: "border py-2 px-3" %>
      </div>
    </div>
    <%= render "join_menus/item", menu: @menu %>
  </div>
</div>
