<div class="flex justify-between">
  <div class="my-auto w-4/12">
    <img src=<%= "https://source.unsplash.com/random/336x336/?restaurant-#{restaurant.name}" %> class="d-block rounded-xl" alt="restaurant image">
  </div>

  <div class="flex flex-col w-8/12">
    <div class="w-full bg-white rounded-lg p-8">
      <h2 class="text-xl font-bold">Info</h2>
      <div class="flex mt-3">
        <h4 class="font-bold">Name</h4>
        <p class="ml-5"><%= restaurant.name %></p>
      </div>
      <div class="flex mt-3">
        <h4 class="font-bold">Phone</h4>
        <p class="ml-5"><%= restaurant.phone_number %></p>
      </div>
      <div class="flex mt-3">
        <h4 class="font-bold">Address</h4>
        <p class="ml-5"><%= restaurant.address %></p>
      </div>
    </div>

    <div class="flex mt-8">
      <div class="w-52 bg-stone-300 rounded-l-lg">
        <h2 class="text-xl font-bold z-10 m-8">Theme</h2>
      </div>
      <div class="w-52 bg-stone-500"></div>
      <div class="w-52 bg-stone-700"></div>
      <div class="w-52 bg-stone-900 rounded-r-lg"></div>
    </div>
  </div>
</div>

<div class="mt-8 flex justify-between w-full bg-white rounded-lg">

  <div class="w-full m-8">
    <h2 class="text-xl font-bold">Tables</h2>

    <div class=" mt-3 flex flex-col flex-wrap h-24 w-full justify-between content-start overflow-auto">
      <% restaurant.tables.each do |table| %>

        <% table_order = table.table_orders.where(table_id: table.id).select { |order| order.is_active }.first %>
        <% if table_order.nil? %>
          <div class="flex justify-center items-center w-10 h-10 rounded-full border mr-3">
            <h4 class="font-bold"><%= table.table_number %></h4>
          </div>
        <% else %>
          <div class="flex justify-center items-center w-10 h-10 rounded-full border-2 border-black mr-3 hover:bg-black hover:text-white">
            <h4 class="font-bold"><%= link_to table.table_number, restaurant_table_table_order_path(restaurant, table, table_order) %></h4>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="flex justify-center items-center bg-white rounded-tr-lg rounded-br-lg p-8 border-l border-black z-10">
    <%= link_to new_restaurant_table_path(restaurant) do %>
      <div class="flex justify-center items-center w-10 h-10 rounded-full bg-black">
        <i class="fa-solid fa-plus text-white"></i>
      </div>
    <% end %>
  </div>
</div>


<div class="mt-8 flex justify-between w-full bg-white rounded-lg">

  <div class="m-8">
    <h2 class="text-xl font-bold">Servers</h2>

    <div class="mt-3 flex h-10 w-full justify-start items-center overflow-auto">
      <% restaurant.users.each do |user| %>
        <div class="flex justify-center items-center h-8 rounded-lg border border-black p-3 mr-3">
          <h4 class="font-bold"><%= user.first_name %></h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-center items-center bg-white rounded-tr-lg rounded-br-lg p-8 border-l border-black z-10">
    <div class="flex justify-center items-center w-10 h-10 rounded-full bg-black">
      <i class="fa-solid fa-plus text-white"></i>
    </div>
  </div>
</div>

<%# Kitchen link %>
<div class="mt-8 flex justify-between w-full bg-white rounded-lg">
  <div class="m-8">
    <h2 class="text-xl font-bold"><%= link_to "Kitchen", kitchen_path(restaurant) %></h2>
  </div>
</div>
