<div class="customer-container">
  <div class="w-full h-28 bg-gray-300 flex items-end p-4">
    <div class="flex items-center gap-3">
      <i class="fa-solid fa-chevron-left text-xl"></i>
      <h1 class="text-3xl font-bold">Your Table</h1>
    </div>
  </div>
  <div class="px-4">
    <% @subtotal = 0 %>
    <% @table_customers.each do |customer| %>
      <div class="mt-4">
        <h1 class="text-xl font-bold"><%= customer.name %></h1>
        <% customer.order_items.each do |order_item| %>
          <div class="w-full flex justify-between">
            <p><%= order_item.menu_item.name %></p>
            <p>$<%= order_item.menu_item.price %></p>
            <% @subtotal += order_item.menu_item.price %>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr class="mt-4">
    <div class="mt-4">
      <div class="w-full flex justify-between items-center mt-1">
        <h3>subtotal</h3>
        <h3>$<%= (@subtotal).round(2) %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-1">
        <h3>service charge</h3>
        <% @service_charge = (@subtotal * 0.10).round(2) %>
        <h3>$<%= @service_charge %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-1">
        <h3>tax</h3>
        <% @tax = (@subtotal * 0.08).round(2) %>
        <h3>$<%= @tax %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-3">
        <h2 class="text-xl font-bold">Total</h2>
        <h2 class="text-xl font-bold">$<%= @subtotal + @service_charge + @tax %></h2>
      </div>
    </div>
    <hr class="mt-4">
  </div>
</div>
